$mid_resolution: 768px;
$large_resolution: 992px;

$main_color: #2196f3;
$main_background_color: lightskyblue;
$navbar_height: 50px;
$navbar_height_mid: 70px;

@mixin ellipsis-multiline(
  $font-size,
  $line-height,
  $lines-to-show,
  $margin: '0'
) {
  $height-calc: $font-size * $line-height * $lines-to-show;
  display: block;
  display: -webkit-box;
  font-size: $font-size * 1px;
  line-height: $line-height;
  max-height: ($height-calc + $margin) * 1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;

  p:not(:first-of-type) {
    display: none;
  }
}